:root {
    --primary-color-goto:  #e51821 ;
    --secondary-color-goto:  #343434 ;
    --tercer-color-goto:  #747474 ;
    --white-color-goto:   #e6e2e2  ;
    --font-size: 16px;
}


/* VARIABLES GLOBALES */
.p-10-px{
    padding: 10px!important;
}

/* FILTER TABLE */
.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.notification-title {
    max-width: 200px; /* Ajusta este valor según el diseño que desees */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-date {
    color: #a9a9ad;
    margin-left: 40px!important;
    flex-shrink: 0; /* Esto asegura que la fecha no se reduzca */
}

.notificationCount {
    position: absolute;          /* Para colocar el círculo en una posición específica */
    top: 0px;                  /* Ajusta según tu diseño */
    right: 10px;                /* Ajusta según tu diseño */
    background-color: red;       /* Color de fondo del círculo */
    color: white;                /* Color del texto */
    border-radius: 50%;          /* Hace que sea circular */
    width: 20px;                 /* Tamaño del círculo */
    height: 20px;                /* Tamaño del círculo */
    display: flex;               /* Centra el número en el círculo */
    justify-content: center;     /* Centra horizontalmente */
    align-items: center;         /* Centra verticalmente */
    font-size: 12px;             /* Tamaño de la fuente */
    font-weight: bold;           /* Negrita para el texto */
    border: 2px solid white;     /* Agrega un borde blanco */
}

.nav-link22 {
    position: relative; /* Necesario para que el badge de notificaciones se posicione correctamente */
}
/* TABLA GENERAL */
.product-table {
    width: 100%;
    border-collapse: collapse;
    /*margin-bottom: 20px;*/
}

.product-table th, .product-table td {
    text-align: left;
    /*border-bottom: 1px solid #e1e1e1;*/
    /*padding: 1.5% !important;*/

}

.product-table th {
    font-weight: bold;
    color: black;
}

.cursoPointer{
    cursor: pointer!important;
}
.accordion-item:first-of-type {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}
.accordion-header {
    margin-bottom: 0;
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}
.accordion-body {
    padding: 1rem 1.25rem;
}
.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}
.accordion-button:hover {
    z-index: 2;
}
.badge {
    text-transform: uppercase;
    line-height: .75;
}
.iconsPreviewImage{
    position: relative;
    top: -26px;
    left: 81px;
    background: white;
    width: 24px;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    height: 24px;
    text-align: center;
}

.badge {
    display: inline-block;
    padding: 0.52em 0.593em;
    font-size: 0.8125em;
    /*font-weight: 500;*/
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.bg-label-success {
    background-color: #e8fadf !important;
    color: #71dd37 !important;
}
.bg-label-danger {
    background-color: #ffe0db !important;
    color: #ff3e1d !important;
}


.card-table{
    border-radius: 20px !important;
}
.borderTable{
    border-radius: 10px !important;
}

/*.encabezado-table{*/
/*    background: #f2f7ff!important;*/
/*}*/

.table_header_color{
    background-color: #e7e7ff !important;
}
.table_header_color th{
    color: #696cff !important;
}


.message-error{
    width: 100%!important;
    margin-top: 0.25rem!important;
    font-size: 0.875em!important;
    color: rgb(220, 53, 69)!important;
}
.deleteTitle{
    position: relative;
    max-width: 100%;
    margin: 0 0 .4em;
    padding: 0;
    color: #595959;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}
.btnDelete{
    padding: .625em 2em;
}

.notification_general {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
    width: 350px;
    position: relative;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.notification.success {
    border-left: 4px solid #28a745;
}
.notification_general .icon {
    font-size: 24px;
    margin-right: 10px;
}

.notification_general .content {
    flex-grow: 1;
}

.notification_general strong {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.notification_general p {
    font-size: 14px;
    color: #777;
}

.notification_general .close {
    cursor: pointer;
    font-size: 16px;
    color: #bbb;
    position: absolute;
    top: 0;
    right: 0;
}
/* ---------------------------------- GO TO MARKET CSS ------------------------------------------*/
.bg-primary-goto{
    background: var(--primary-color-goto)!important;
}




/* ---------------------------------- Fin GO TO MARKET CSS ------------------------------------------*/

/* Estilos para dispositivos con un ancho mínimo de 576px y un ancho máximo de 767px (tabletas y similares en posición vertical) */

@media (max-width: 320px) {
    .notification-title {
        max-width: 180px; /* Ajusta este valor según el diseño que desees */
    }
    .dropdown_menu_end_notifi{
        --bs-position: end!important;
        right: -150px!important;
        left: auto!important;
    }
}
@media (min-width: 321px) and  (max-width: 577px){
    .notification-title {
        max-width: 180px; /* Ajusta este valor según el diseño que desees */
    }
    .dropdown_menu_end_notifi{
        --bs-position: end!important;
        right: -180px!important;
        left: auto!important;
    }
}

/* Estilos para dispositivos con un ancho mínimo de 576px y un ancho máximo de 767px (tabletas y similares en posición vertical) */
@media (min-width: 578px) and (max-width: 767px) {

}

/* Estilos para dispositivos con un ancho mínimo de 768px y un ancho máximo de 992px (tabletas y similares en posición vertical) */
@media (min-width: 768px) and (max-width: 992px) {

}
/* Estilos para dispositivos con un ancho mínimo de 769px y un ancho máximo de 992px (tabletas y similares en posición horizontal) */
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {

}
/* Estilos para dispositivos con un ancho mínimo de 993px y un ancho máximo de 1200px (pantallas de PC) */
@media (min-width: 993px) and (max-width: 1200px) {

}

/* Estilos para dispositivos con un ancho mínimo de 1201px (pantallas grandes) */
@media (min-width: 1201px) {

}

.numero_vehiculo{
    color: var(--primary-color-goto);
    font-family: Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px 0px;
}
.span_vehiculo {
    font-size: 1rem;
}

/* CÓDIGO NUEVO PARA LOS CHECK RADIOS EN PROGRAMACIÓN DE CAMIONES*/

.inputCheckRadio {
    display: none;
}

.labelCheckRadios {
    /*display : flex;*/
    /*padding :10px;*/
    gap :2em;
    align-items : center
}

.container_check_radios {
    width :23px;
    aspect-ratio : 1;
    overflow : hidden;
    border-radius : 50%;
    /*box-shadow : 2px 5px 5px rgba(0,0,0,0.2);*/
}

.cRadioBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #fff;
    position: relative;
    border: solid 5px #d4d7eb;
    box-sizing: border-box;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.cRadioBtn:hover {
    border: solid 8px var(--primary-color-goto);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondary);
}

.inputCheckRadio:checked + .labelCheckRadios > .container_check_radios > .cRadioBtn > .overlay {
    background: #fff;
    animation: shrink 0.3s ease-in-out forwards;
}

.inputCheckRadio:checked + .labelCheckRadios > .container_check_radios  > .cRadioBtn {
    background: var(--primary-color-goto);
    border-color: var(--primary-color-goto);
}

.drops {
    position: absolute;
    background: #fff;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    aspect-ratio: 1;
}

.lgDrop {
    width: 50%;
}

.xsDrop {
    width: 20%;
}

.mdDrop {
    width: 30%;
}

.inputCheckRadio:checked + .labelCheckRadios > .container_check_radios  > .cRadioBtn > .lgDrop {
    animation: drop 0.5s ease-in-out forwards;
}

.inputCheckRadio:checked + .labelCheckRadios > .container_check_radios  > .cRadioBtn > .mdDrop {
    animation: drop 0.8s ease-in forwards;
}

.inputCheckRadio:checked + .labelCheckRadios > .container_check_radios  > .cRadioBtn > .xsDrop {
    animation: drop 0.9s linear forwards;
}

@keyframes drop {
    0% {
        top: -100%;
    }
    50% {
        top: -100%;
    }
    75% {
        top: 10%;
    }
    100% {
        top: 25%;
    }
}

@keyframes shrink {
    0% {
        width: 100%;
    }
    100% {
        width: 0px;
    }
}

.cRadioBtnNo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #fff;
    position: relative;
    border: solid 5px red;
    box-sizing: border-box;
    transition: all 0.1s ease-in;
    cursor: not-allowed;
}

.textBlack{
    color: black;
    font-weight: 800;
}

.textListarComprobantes{
    font-size: 12px!important;
}
.textListarComprobantes span{
    color: black!important;
    font-weight: bold!important;
}
.containerSearchComprobantes{
    position: absolute; /* Flota respecto al contenedor padre */
    top: 100%; /* Justo debajo del campo de búsqueda */
    left: 0;
    width: 100%;
    max-height: 390px; /* Altura máxima para que sea manejable */
    overflow-y: auto; /* Scroll si hay muchas sugerencias */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Para estar por encima del contenido */
}
.containerSearchComprobantes li:hover {
    background-color: #f0f0f0;
}
.tamanhoTablaComprobantes{
    font-size: 12px;
}

/**/
.overlay__eliminar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 9998;
    display: none;
}
.spinner__container__eliminar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.spinner__eliminar {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #c3121a;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* */
.vehiculos-scroll-container-horizontal {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
}
.circulo-vehiculo-container {
    position: relative;
    width: 130px;!important;
    height: 130px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.circulo-vehiculo-container.no-aprobado {
    cursor: not-allowed;
}
.circulo-vehiculo {
    position: relative;
    text-align: center;
    width: 100px;
    height: 100px;
}
.vehiculo-placa {
    font-size: 12px;
    font-weight: bold;
    color: #333;
}
.tarifa-monto,
.capacidad-peso {
    font-size: 12px;
    font-weight: bold;
    color: #333;
}
.boton-container {
    margin-top: 5px;
}
.circulo-vehiculo-container.no-aprobado .estado-circulo {
    border: 2px solid red;
}
.circulo-vehiculo-container:not(.no-aprobado) .estado-circulo {
    border: 2px solid green;
}
.estado-circulo {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    background-color: #f8f9fa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.check-icon,
.warning-icon {
    font-size: 12px;
    display: none;
}
/* Muestra el icono de check cuando está seleccionado */
.vehiculo-radio:checked + .progreso-circular + .circulo-vehiculo + .estado-circulo .check-icon {
    display: inline;
    color: green;
}
/* Muestra el icono de advertencia cuando no está aprobado */
.no-aprobado .estado-circulo .warning-icon {
    display: inline;
    color: red;
}
/* Progreso Circular */
.progreso-circular {
    position: absolute;
    width: 100%;
    height: 100%;
}
.progreso-circular-bg,
.progreso-circular-fg {
    fill: none;
    stroke-width: 2.8;
}
.progreso-circular-bg {
    stroke: #e6e6e6;
}
.progreso-circular-fg {
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s;
}
.curso-pointer{
    cursor: pointer!important;
}
.textTotalComprobantesSeleccionados{
    font-size: 14px !important;
}
.textTotalComprobantesSeleccionados span{
    color: var(--primary-color-goto)!important;
    font-weight: bold!important;
    font-size: 20px !important;
}
/* */

/* From Uiverse.io by KSAplay */
/* From Uiverse.io by satyamchaudharydev */
.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: var(--primary-color-goto);
    width: 100%;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}

.colorgotomarket{
    color: var(--primary-color-goto);
}
